name: ci

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

  jobs:
    build:
      runs-on: ubuntu-latest

      steps:

        - name: Set up QEMU
          uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7

        - name: Docker meta
          id: meta
          uses: docker/metadata-action@818d4b7b91585d195f67
          with:
            images: ${{ secrets.DOCKER_HUB_USERNAME}}/goapi_docker_build
        
        - name: Login to DockerHub
          if: github.event_name != 'pull_request'
          uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

        - name: Build and push
          uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
          with:
            context: .
            push: ${{ github.event_name != 'pull_request' }}
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
